@import "mixins"
@import "variables"
#drawer-checkbox
  display: none

  &:checked ~ #drawer-overlay
    display: block

  &:checked ~ .addpost
    visibility: visible
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

#drawer-overlay
  background-color: rgba(0, 0, 0, 0.6)
  display: none
  height: 100%
  right: 0
  position: fixed
  top: 0
  width: 100%
  z-index: 1


.drawer
  position: fixed
  overflow-y: scroll
  right: 0
  z-index: 2
  top: 0
  visibility: hidden
  width: 500px
  height: 100%
  background-color: white
  -webkit-transition: all 0.4s
  transition: all 0.4s
  -webkit-transform: translate(100%, 0)
  transform: translate(100%, 0)
  padding: 10px

.drawer-header
  color: black
  display: inline-block
  width: 100%
  .drawer-title
    cursor: pointer
    &:hover
      background-color: $hover-color
      padding: 0 10px
      border-radius: 8px
    @include center-hor-ver
    float: left
    padding: 0
    color: $primary-color
    font-weight: bold
    font-size: 18px
    .creat-post-icon
      margin-right: 8px
  .close-drawer
    float: right
    @include center-hor-ver
    label
      cursor: pointer

@media only screen and (max-width: 450px)
  .drawer
    width: 100%

