@import "mixins"
@import "variables"
.floating-btn
  width: 40px
  z-index: 1
  height: 40px
  border-radius: 50%
  position: fixed
  bottom: 60px
  background-color: $primary-color
  @include center-hor-ver
  color: white
  margin-right: 5px
  right: 0
  @include shadow
  cursor: pointer
.feeds::-webkit-scrollbar
  display: none
.feeds
  -ms-overflow-style: none
.feeds
  width: 53%
  margin: auto
  padding: 5px
  height: 100vh
  overflow: auto
  .feeds-settings
    @include center-hor
    justify-content: space-between
    .feeds-sort
      color: $primary-color
      font-size: 20px
      height: 30px
      width: 30px
      cursor: pointer
      @include center-hor-ver
      border-radius: 50%
      &:hover
        background-color: $hover-color
    .timeline-feeds
      @include center-hor
      margin: 10px 0
      .item
        cursor: pointer
        padding: 10px 15px
        font-weight: 700
      .active
          background-color: $hover-color
          border-radius: 8px
      justify-content: flex-end
  .posts-wrapper
    margin-top: 10px
    margin-bottom: 70px
    .the-post
      display: flex
      margin-bottom: 15px
      .the-avatar
        margin-right: 10px
      .details
        width: 100%
        border-radius: 6px
        padding: 5px 10px
        @include shadow
        .head
          @include center-hor
          justify-content: space-between
          .left-items
            @include center-hor
            .user-avatar
              margin-right: 10px
              display: none
            .item-list
              margin: 0 10px
          .right-items
            @include center-hor-ver
            font-size: 20px
            cursor: pointer
            height: 30px
            width: 30px
            border-radius: 50%
            &:hover
              background-color: $hover-color
        .the-body
          font-family: 'Quicksand', sans-serif
          height: 300px
        .the-footer
          padding: 0 15px
          @include center-hor
          justify-content: space-between
          .the-items-count
            @include center-hor-ver
            font-family: 'Quicksand', sans-serif
          .the-items-icons
            @include center-hor
            .item-icon
              cursor: pointer
              margin-left: 10px
              font-size: 20px
              @include center-hor-ver

.popover-style
  p
    padding: 0 5px
    border-radius: 3px
    &:hover
      background-color: $hover-color
@media only screen and (max-width: 450px)
  .feeds
    width: 100%
    .posts-wrapper
      .the-post
        .the-avatar
          display: none
        .details
          .head
            .left-items
              .user-avatar
                display: block
              .item-list
                margin: 0 5px

@media all and (min-width: 540px) and (max-width: 1024px)
  .feeds
    width: 80%
    .posts-wrapper
      .the-post
        .the-avatar
          display: none
        .details
          .head
            .left-items
              .user-avatar
                display: block
              .item-list
                margin: 0 5px






