@import "variables"
.container-fluid
  padding: 0 200px 0 200px
.row
  width: 100%
  display: flex
  flex-direction: row

.justify-between
  justify-content: space-between
.px
  padding: 20px

@media only screen and (max-width: 450px)
  .container-fluid
    padding: 0 10px 0 10px
