@import "mixins"
@import "variables"
@mixin nav-shadow
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.19)
@mixin brand
  font-weight: 900
  font-size: 25px
  cursor: pointer
  color: #008cff
  text-decoration: none
  margin-left: 20px
  //font-family: 'Krona One', sans-serif
  //font-family: 'Livvic', sans-serif
  //font-family: 'Sulphur Point', sans-serif
  font-family: 'Quicksand', sans-serif

@mixin btn-desc
  border-radius: 20px
  padding: 6px 10px
  font-size: 16px
  outline: none
  margin: 0 3px
  font-weight: 900
  font-family: 'Quicksand', sans-serif

@mixin login-btn
  @include btn-desc
  background-color: $hover-color

@mixin signup-btn
  color: white
  @include btn-desc
  @include shadow

.nav-bar
  .horizontal-nav
    @include shadow
    padding: 5px
    @include center-hor
    justify-content: space-between
    .left-side
      @include center-hor
      .nav-item-left
        @include center-hor
      .nav-brand
        @include brand
    .center-items
      @include center-hor
      a
        text-decoration: none
        color: black
        font-family: 'Quicksand', sans-serif
      .nav-item-right
        @include center-hor
        li
          padding: 8px
          margin: 0 5px
          border-radius: 9px
          list-style: none
          display: inline
          font-size: 18px
          font-weight: 500
          cursor: pointer
          &:hover
            background-color: $hover-color

    .right-side
      @include center-hor
      .action-icons
        @include center-hor-ver
        a
          font-size: 18px
          text-decoration: none
          color: #282c34
          @include center-hor-ver
          margin: 0 5px
          padding: 8px
          border-radius: 50%
          &:hover
            background-color: $hover-color
    .action-buttons
      display: flex
      justify-content: center
      .signup-button
        @include signup-btn
      .login-button
        @include login-btn
    .menu-icon
      display: none
      .icon
        margin-right: 15px
        @include center-hor-ver
        height: 40px
        width: 40px
        font-size: 20px
        background-color: $hover-color
        border-radius: 50%
        cursor: pointer
  .side-nav
    height: 100%
    width: 0
    position: fixed
    z-index: 1
    top: 0
    left: 0
    background-color: white
    overflow-x: hidden
    transition: 0.5s
    padding: 0
    @include shadow
    .side-header
      @include center-hor
      justify-content: space-between
      padding: 0 5px
      width: 100%
      .logo
        @include center-hor
        @include brand
      .close-btn
        @include center-hor-ver
        cursor: pointer
        font-size: 20px
        text-align: center
        flex-direction: column
        height: 30px
        width: 30px
        border-radius: 50%
        background-color: $hover-color
    .action-buttons
      display: flex
      justify-content: center
      padding: 5px
      .signup-button
        @include signup-btn
      .login-button
        @include login-btn
      a
        width: 40%
        text-align: center
    .links
      a
        text-decoration: none
        color: black
        font-family: 'Quicksand', sans-serif
        font-size: 18px
      li
        padding: 2px 8px 8px 15px
        text-decoration: none
        display: block
        transition: 0.3s
        text-align: center
.sub-menu
  width: 0
  position: fixed
  z-index: 1
  top: 6.4%
  right: 10px
  background-color: white
  overflow-x: hidden
  transition: 0.5s
  padding: 0
  cursor: pointer
  border-radius: 10px
  @include nav-shadow
  .menu-container
    padding: 10px
    .head
      @include center-hor
      .the-avatar
        margin-right: 10px
    .contents
      button
        width: 100%
        padding: 6px 3px
        border-radius: 16px
        @include shadow

    p
      padding: 5px
      border-radius: 4px
      &:hover
        background-color: $hover-color





@media only screen and (max-width: 450px)
  .nav-bar
    .horizontal-nav
      .menu-icon
        display: block
      .center-items
       display: none
      .icon
       margin-right: 5px
