@import "mixins"
@import "variables"
.cover
  @include shadow
  position: relative
  height: 85px
  background-color: $hover-color
  border-top-left-radius: 15px
  border-top-right-radius: 15px

.profile-pic
  position: absolute
  height: 100px
  width: 100px
  border-radius: 100%
  background-color: grey
  z-index: 2
  top: 20px
  border: 2px solid white
  @include center-horizontally
  @include shadow

.profile-body
  position: absolute
  background-color: white
  z-index: 1
  width: 100%
  top: 70px
  border-radius: 15px
  padding: 50px 10px 10px 10px
  @include shadow
  text-align: center
  .view-profile
    border-radius: 10px
    padding: 5px 10px
    background-color: $primary-color
    color: white
    cursor: pointer
    @include shadow
  .bar-one
    @include center-hor-ver
    div
      @include center-hor-ver
      cursor: pointer
      padding: 5px
  h1
    margin: 0
    padding: 10px 0 10px 0
  h6
    margin: 0
    padding: 0 0 10px 0

  .action-section
    display: flex
    justify-content: space-between
    padding: 0 20px 20px 20px

    .action-body
      width: 100px
      padding: 0
      text-align: center
      p
        margin: 0
        font-size: 12px
      .action-btn
        border-radius: 50%
        height: 40px
        width: 40px
        border: 1px solid #008cff
        margin-left: auto
        margin-right: auto
        margin-bottom: 0
        @include shadow
        cursor: pointer
        p
          font-size: 20px
          margin: 0
          line-height: 50px
          color: #008cff
        &:hover
          p
            color: white
          background-color: #008cff



